@font-face {
	font-family: Myriad Pro;
	src: url(../font/MyriadProRegular.ttf);
	}
html{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
} 
body{
	overflow-x: hidden;
	margin: 0;
	font-family: Myriad Pro;
}
html, body{
	min-height: 100%;
}
p{
	margin: 0;
}
/*GRID - BEGIN*/
.grid-container {
	max-width: 100%;
	margin: 0 24px;
	grid-gap: 12px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
}

.grid-container__nested {
	margin: auto !important;
}

@media screen and (max-width: 767px) {
	.grid-cl-1-mobile {
		grid-column: span 1;
	}
	.grid-cl-2-mobile {
		grid-column: span 2;
	}
	.grid-cl-3-mobile {
		grid-column: span 3;
	}
	.grid-cl-4-mobile {
		grid-column: span 4;
	}
}

@media screen and (min-width: 768px) {
	.grid-container {
		margin: 0 40px;
		grid-gap: 20px;
		grid-template-columns: repeat(12, 1fr);
	}
	.grid-cl-1-tablet {
		grid-column: span 1;
	}
	.grid-cl-2-tablet {
		grid-column: span 2;
	}
	.grid-cl-3-tablet {
		grid-column: span 3;
	}
	.grid-cl-4-tablet {
		grid-column: span 4;
	}
	.grid-cl-5-tablet {
		grid-column: span 5;
	}
	.grid-cl-6-tablet {
		grid-column: span 6;
	}
	.grid-cl-7-tablet {
		grid-column: span 7;
	}
	.grid-cl-8-tablet {
		grid-column: span 8;
	}
	.grid-cl-9-tablet {
		grid-column: span 9;
	}
	.grid-cl-10-tablet {
		grid-column: span 10;
	}
	.grid-cl-11-tablet {
		grid-column: span 11;
	}
	.grid-cl-12-tablet {
		grid-column: span 12;
	}
}
@media screen and (min-width: 1024px) {
	.grid-container {
		margin: 0 60px;
	}
	.grid-cl-1-desktop {
		grid-column: span 1;
	}
	.grid-cl-2-desktop {
		grid-column: span 2;
	}
	.grid-cl-3-desktop {
		grid-column: span 3;
	}
	.grid-cl-4-desktop {
		grid-column: span 4;
	}
	.grid-cl-5-desktop {
		grid-column: span 5;
	}
	.grid-cl-6-desktop {
		grid-column: span 6;
	}
	.grid-cl-7-desktop {
		grid-column: span 7;
	}
	.grid-cl-8-desktop {
		grid-column: span 8;
	}
	.grid-cl-9-desktop {
		grid-column: span 9;
	}
	.grid-cl-10-desktop {
		grid-column: span 10;
	}
	.grid-cl-11-desktop {
		grid-column: span 11;
	}
	.grid-cl-12-desktop {
		grid-column: span 12;
	}
}

@media (min-width: 1280px) {
	.grid-container {
		margin: 0 48px;
		grid-gap: 28px;
	}
}

@media (min-width: 1440px) {
	.grid-container {
		margin: 0 56px;
	}
}

@media (min-width: 1920px) {
	.grid-container {
		margin: 0 68px;
	}
}

.grid-cl-container{
	padding: 20px 0px 130px 0;
}
/*GRID - END*/

/*HEADER - BEGIN*/
.header-wrapper {
    background: rgb(0,0,0,0.6);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
	z-index: 99;
}

.header-wrapper img{
    width: 60px;
    height: 46px;
}
@media (min-width: 1024px) {
    .header-wrapper img{
        width: 91px;
        height: 70px;
    }
}
/*HEADER - END*/

/*FOOTER - BEGIN*/
.footer-wrapper {
	background: rgb(0,0,0,0.6);
    width: 100%;
}

.footer-wrapper p{
	margin: 27px 0;
	font-size: 14px;
	color: #c1e2e5;
	opacity: 0.3;
	text-align: center;
}
/*FOOTER - END*/

/*BG - BEGIN*/
.background-wrapper{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*BG - END*/

/*INPUT - BEGIN*/
.form__group__wrapper{
	height: 48px;
    border-radius: 4px;
    border: solid 1px #918ef4;
    display: inline-block;
    width: 100%;
    color: #918ef4;
    background: rgb(193, 226, 229, 1);
	margin: 16px 0;
}

.form__group__wrapper input{
    background-color: transparent;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .5px;
    width: calc(100% - 50px);
    padding: 5px 25px;
    vertical-align: sub;
    border: 0;
    outline: 0;
    box-shadow: none;
	color: #533987 !important;
}

.form-group__label{
    color: #918ef4;
    font-weight: 400;
    font-size: 16px;
    display: table;
    position: relative;
    background: linear-gradient(180deg, transparent 45%, rgba(193,226,229,1) 52%, rgba(193,226,229,1) 100%);
    top: -52px;
    left: 15px;
    padding: 0 8px;
}

.form__group__wrapper select{
	width: 100%;
    height: 100%;
    background: transparent;
    padding: 0px 15px 0 30px;
    border: none;
    margin-left: -15px;
	color: #9493f2;
	position: relative;
    z-index: 99;
}

.form__group__wrapper select::after{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #9493f2;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}

.form-group__label + .form__group__wrapper select{
	top: -58px;
}

/*INPUT - END*/
.button__wrapper{
	margin: 20px 0;
	text-align: center;
}
.button__content{
	max-width: 215px;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 4px;
    border: solid 1px #918ef4;
    background-color: #8781bd;
    font-size: 18px;
    color: #c1e2e5;
}